<p id="notice"><%= notice %></p>

<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      Bars you frequent
    </h1>
  </div>
</div>
<% if current_user.followed_bars.exists? %>
  <% current_user.followed_bars.each do |bar| %>
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <%= render "bars/bar", bar: bar %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row mb-4">
    You aren't following any bars!
  </div>
<% end %>