<%= form_with(model: @follow, class: "d-inline-block") do |form| %>

  <%= form.hidden_field :leader_id, value: @user %>
  <%= form.hidden_field :follower_id, value: current_user %>

  <div class="actions">
    <%= form.submit "Follow", class: "btn btn-outline-secondary btn-block" %>
  </div>
<% end %>
